/target
/modules/**/target
/classes
/modules/**/classes
/checkouts
/modules/**/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/modules/**/.lein-*
/.nrepl-port
/modules/**/.nrepl-port
.hgignore
.hg/
.idea
*.iml
